


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5e1;
    color: #333;
   
}
header {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
 
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    
    
}

footer {
   
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
}

#hero-image {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}


.dog-image {
   
  width: 300px;
  aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}


.a-site{
    display: flex;
    flex-direction: row;
}

#featuredDogs{
   display: flex;
   justify-content: space-around; 
}

#menuOpen{
    background-color: #046407;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    font-size: 2rem;
    height: 2.5rem;
    display: inline-block;
}
#navcontainer{
    background-color: #4caf50;
    margin: 0;
    display: none;
    width: 15vw;
    
}
#nav a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 2.5rem;
    color: white;
    font-size: 2vw;
}

nav{
    position: sticky;
    top: 4vw;
    z-index: 100;
    margin-top: 2vw;
}
